@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600&family=Rampart+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Lexend Deca", sans-serif !important;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.bg-primary-500 {
  --tw-bg-opacity: 1;
  background-color: rgba(100, 189, 78, var(--tw-bg-opacity));
}
.hover\:bg-primary-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(75, 151, 56, var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}

.text-primary-500 {
  --tw-text-opacity: 1;
  color: rgba(100, 189, 78, var(--tw-text-opacity));
}

@media screen and (min-width: 975px) {
  .set-padding {
    padding: 0px 16px !important;
  }
}

.max-h-90-px {
  max-height: 90px !important;
}

.hover\:text-primary-600:hover {
  --tw-text-opacity: 1;
  color: rgba(75, 151, 56, var(--tw-text-opacity));
}

.hover\:bg-primary-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(213, 237, 207, var(--tw-bg-opacity));
}

.hover\:border-primary-600:hover {
  --tw-border-opacity: 1;
  border-color: rgba(75, 151, 56, var(--tw-border-opacity));
}

.from-primary-50 {
  --tw-gradient-from: #f1f9ef;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(241, 249, 239, 0));
}

.bg-neutral-800 {
  --tw-bg-opacity: 1;
  background-color: rgba(68, 71, 67, var(--tw-bg-opacity));
}
.text-neutral-500 {
  --tw-text-opacity: 1;
  color: rgba(156, 161, 155, var(--tw-text-opacity));
}

.text-neutral-50 {
  --tw-text-opacity: 1;
  color: rgba(249, 249, 249, var(--tw-text-opacity));
}
